<section class="grid justify-content-center me-py-10">
  <section class="col-4">
    <p class="descricao">BEM-VINDO À SUA CASA</p>
    <h1 class="titulo">Você é importante para essa família</h1>
    <p class="conteudo">Que aqui na AD Cacoal você viva o melhor tempo da sua vida na presença gloriosa do Espírito Santo!</p>
    <p class="pastor-nome">José Ferraz</p>
    <p class="pastor-cargo">Pastor Presidente</p>
  </section>
  <div class="col-4">
    <img class="hero-img" src="assets/pastor-ferraz.png" alt="">
  </div>

</section>
