<div class="grid menu align-items-center">
  <div class="col-2 menu-item">
    <a href="#">
      <img class="logo" src="assets/adcacoal-branco.svg" alt="Logo AD Cacoal">
    </a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Igreja</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Ofertas</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Cursos</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Eventos</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Conteúdo</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Ao vivo</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Participe</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Agenda</a>
  </div>
  <div class="col-1 menu-item">
    <a href="#">Contato</a>
  </div>
</div>
